body a {
  color: black;
}
body .profile-info.dropdown .dropdown-menu {
  background: black;
  border-color: black;
}
body .profile-info.dropdown .dropdown-menu > li {
  border-bottom-color: transparent;
}
body .profile-info.dropdown .dropdown-menu li a {
  color: #ddefe3;
}
body .profile-info.dropdown .dropdown-menu li a:hover {
  background: black;
}
body .page-container .sidebar-menu {
  /*background: black;*/
  background: #1a1a1a;
  color: black;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li#search .search-input {
  background-color: black !important;
  border-color: black; !important;
}
body .page-container .sidebar-menu #main-menu li#search {
  background-color: black;
  border-color: black;;
}
body .page-container .sidebar-menu #main-menu li ul {
  border-color: black;
}
body .page-container .sidebar-menu #main-menu li ul > li {
  border-color: black;
}
body .page-container .sidebar-menu #main-menu li ul > li > a {
  background-color: black;
}
body .page-container .sidebar-menu #main-menu li.active > a {
  background: #8c8c8c;
}
body .page-container .sidebar-menu #main-menu li ul > li > a {
  background-color: #595959;
}
body .page-container .sidebar-menu .logo-env > div.sidebar-collapse a,
body .page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu a {
  border-color: black;;
}
body .page-container .sidebar-menu .logo-env > div.sidebar-collapse a:hover {
  background: black;
}
body .page-container .sidebar-menu .logo-env > div.sidebar-collapse a:hover > .entypo-menu {
  color: #87C442;
}
body .page-container .sidebar-menu .sidebar-user-info {
  border-color: black;;
}
body .page-container .sidebar-menu .sidebar-user-info .sui-hover {
  background-color: black;
}
body .page-container .sidebar-menu #main-menu li {
  border-color: black;;
}
body .page-container .sidebar-menu #main-menu li a {
  /*color: #ddefe3;*/
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}
body .page-container .sidebar-menu #main-menu li a:hover {
  background-color: black;
}
body .page-container .sidebar-menu #main-menu li ul > li > a:hover {
  background-color: gray;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li > ul li {
  border-color: black;;
}
body .page-container .sidebar-menu #main-menu li ul > li ul > li > a {
  background-color: #008541;
}
body .page-container .sidebar-menu #main-menu li ul > li ul > li ul > li > a {
  background-color: #008541;
}
body .page-container .sidebar-menu #main-menu li ul > li ul > li ul > li ul > li > a {
  background-color: #008541;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li > a > span:not(.badge) {
  background: black;
  border-color: black;;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li ul {
  border-color: black;;
}
body .profile-info.dropdown .dropdown-menu > .caret {
  border-bottom-color: black;
}
body #chat {
  background: black;
}
body #chat .chat-header {
  color: #FFF;
  border-bottom: 1px solid black;;
}
body #chat .chat-group > a:hover,
body #chat .chat-group > a.active {
  background: black;;
}
body #chat .chat-group > strong {
  color: rgba(255, 255, 255, 0.4);
}
body #chat .chat-conversation {
  background: #008541;
}
body #chat .chat-conversation .conversation-body > li.odd,
body #chat .chat-conversation .conversation-body > li.even,
body #chat .chat-conversation .conversation-body > li.opponent {
  background: black;
}
body #chat .chat-conversation .conversation-header {
  border-color: black;;
}
body #chat .chat-conversation .chat-textarea textarea {
  background: black;
  box-shadow: none;
  border-color: black;
}
body #chat .chat-group > a:before {
  border-color: transparent transparent transparent #008541;
}
body.login-page .login-form .form-group .input-group {
  border-color: black;;
}
body.login-page {
  background: black;
  color: rgba(255, 255, 255, 0.5);
}
body.login-page .login-form .form-group .input-group .form-control::-webkit-input-placeholder {
  color: #ddefe3;
}
body.login-page .login-form .form-group .input-group .form-control:-moz-placeholder {
  color: #ddefe3;
}
body.login-page .login-form .form-group .input-group .form-control::-moz-placeholder {
  color: #ddefe3;
}
body.login-page .login-form .form-group .input-group .form-control:-ms-input-placeholder {
  color: #ddefe3;
}
body.login-page .login-form .form-group .input-group {
  background: black;
  border-color: black;;
}
body.login-page .login-form .form-group .input-group.focused {
  border-color: #00ce64;
}
body.login-page .login-form .form-group .input-group .input-group-addon:after {
  background: black;;
}
body.login-page .login-form .form-group .btn-login {
  background: black;
  border-color: black;;
}
body.login-page .login-form .form-group .btn-login:hover {
  background: black;
}
body .login-container .login-header {
  background-color: black;
}
body .login-container .login-header.login-caret:after {
  border-top-color: black;
}
body.login-page.logging-in .login-progressbar {
  background: #00e36f;
  height: 2px;
}
body.login-page.logging-in .login-progressbar div {
  background: #005228;
}
body .tile-primary {
  background: black;
}
body .tile-primary .tile-entry {
  border-color: black;;
}
body .tile-primary .title {
  background: #008d45;
}
body .tile-white-primary .num,
body .tile-white-primary h3,
body .tile-white-primary p {
  color: black;;
}
body .btn-primary {
  background: black;
  border-color: black;
}
body .panel-invert {
  background: black;
}
body .navbar-inverse {
  border-color: black;
  background: black;
}
body .navbar-inverse .navbar-nav > li > a {
  color: #ddefe3;
}
body .navbar-inverse .navbar-nav > .open > a,
body .navbar-inverse .navbar-nav > .open > a:hover,
body .navbar-inverse .navbar-nav > .open > a:focus {
  background: black;
}
body .navbar-inverse .navbar-nav > .active > a,
body .navbar-inverse .navbar-nav > .active > a:hover,
body .navbar-inverse .navbar-nav > .active > a:focus {
  background: black;
}
body .badge.badge-primary,
body .label-primary {
  background-color: black;
}
body .badge.badge-secondary,
body .label-secondary {
  background-color: #005228;
}
body .pagination > .active > a,
body .pagination > .active > span,
body .pagination > .active > a:hover,
body .pagination > .active > span:hover,
body .pagination > .active > a:focus,
body .pagination > .active > span:focus {
  border-color: black;
  background: black;
}
body div.datepicker table tr td.active,
body div.datepicker table tr td.active:hover,
body div.datepicker table tr td.active.disabled,
body div.datepicker table tr td.active.disabled:hover {
  background-color: black;
}
body.login-page .login-form .form-group.lockscreen-input .lockscreen-thumb img {
  border-color: black;
}
body.login-page .login-content a {
  color: #ddefe3;
}
body .input-group-addon {
  color: #ddefe3;
}
body.page-left-in,
body.page-right-in,
body.page-fade-only,
body.page-fade {
  background: black !important;
}
body .page-container .sidebar-menu #main-menu li#search button i {
  color: #ddefe3;
}
body .btn-primary.btn-icon i {
  background-color: rgba(0, 0, 0, 0.2);
}
body .btn-primary:hover,
body .btn-primary:focus,
body .btn-primary:active,
body .btn-primary.active,
body .open .dropdown-toggle.btn-primary {
  background: #008541;
  border-color: #008541;
}
body .tile-block .tile-content .todo-list .neon-cb-replacement .cb-wrapper .checked {
  background: black;
}
body .page-container.horizontal-menu header.navbar {
  background: black;
}
body .page-container.horizontal-menu.with-sidebar header.navbar {
  border-color: black;;
}
body .page-container.horizontal-menu.with-sidebar .sidebar-user-info {
  border-color: black;;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li > a {
  border-right-color: black;
  color: #ddefe3;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li.active > a {
  background: black;
}
body .page-container.horizontal-menu header.navbar .navbar-nav {
  border-left-color: black;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li#search {
  border-right-color: black;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li:hover > a {
  background: black;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul {
  background: black;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.dropdown.open {
  background: black;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li a {
  border-color: black;;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li:hover > a {
  background: black;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li.active > a {
  background: black;
}
body .page-container.horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input,
body .page-container.horizontal-menu header.navbar > ul > li#search .search-input {
  background: black;
  border-color: black;;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li#search.search-input-collapsed:hover {
  border-color: black;;
  background: black;
}
body .page-container.horizontal-menu header.navbar ul.nav > li.sep {
  border-color: black;;
}
body .page-container.horizontal-menu header.navbar ul.nav > li > a,
body .page-container.horizontal-menu header.navbar ul.nav > li > span {
  color: #ddefe3;
}
body .entypo-menu {
  /*color: #ddefe3;*/
  color: black;;
}
body .page-container .sidebar-menu #main-menu li#search .search-input {
  color: #ddefe3;
}
body .page-container .sidebar-menu #main-menu li#search .search-input::-webkit-input-placeholder {
  color: #ddefe3;
}
body .page-container .sidebar-menu #main-menu li#search .search-input:-moz-placeholder {
  color: #ddefe3;
}
body .page-container .sidebar-menu #main-menu li#search .search-input::-moz-placeholder {
  color: #ddefe3;
}
body .page-container .sidebar-menu #main-menu li#search .search-input:-ms-input-placeholder {
  color: #ddefe3;
}
body #chat .chat-group > a {
  color: #ddefe3;
}
body .conversation-body,
body #chat .entypo-cancel,
body #chat .chat-conversation .chat-textarea:after {
  color: #ddefe3;
}
body #chat .chat-conversation .chat-textarea textarea::-webkit-input-placeholder {
  color: #ddefe3;
}
body #chat .chat-conversation .chat-textarea textarea:-moz-placeholder {
  color: #ddefe3;
}
body #chat .chat-conversation .chat-textarea textarea::-moz-placeholder {
  color: #ddefe3;
}
body #chat .chat-conversation .chat-textarea textarea:-ms-input-placeholder {
  color: #ddefe3;
}
body .page-container.horizontal-menu header.navbar .navbar-nav > li ul li a {
  color: #ddefe3;
}
body .page-container.horizontal-menu header.navbar .navbar-inner > ul > li#search button i,
body .page-container.horizontal-menu header.navbar > ul > li#search button i {
  color: #ddefe3;
}
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li.has-sub:hover.has-sub > a:hover,
body .page-container.sidebar-collapsed .sidebar-menu #main-menu > li:hover.has-sub > a:hover {
  color: #ddefe3;
}
body .panel-invert > .panel-heading,
body .modal.invert .modal-dialog .modal-content .modal-header,
body .modal.invert .modal-dialog .modal-content .modal-footer {
  background: black;
  border-color: black;;
}
body .panel-invert > .panel-body,
body .modal.invert .modal-dialog .modal-content {
  background: black;
  color: #ddefe3;
}
body .modal.invert .modal-dialog .modal-content {
  border-color: black;
}
body .panel-invert {
  border-color: black;
}
body .panel-invert > .panel-heading > .panel-options > a.bg,
body .modal.invert .modal-dialog .modal-content .modal-header .close {
  background-color: black;
}
body .panel-invert > .panel-heading > .panel-options > a.bg:hover {
  background-color: #008541;
}
body a.list-group-item.active,
body a.list-group-item.active:hover,
body a.list-group-item.active:focus {
  background-color: black;
  border-color: black;
}
body a.list-group-item.active .list-group-item-text,
body a.list-group-item.active:hover .list-group-item-text,
body a.list-group-item.active:focus .list-group-item-text {
  color: #ddefe3;
}
body .popover.popover-primary {
  background-color: black;
  border-color: black;
}
body .popover.popover-primary .popover-title {
  background-color: #008541;
  border-color: #008541;
}
body .popover.popover-primary.top .arrow {
  border-top-color: black;
}
body .popover.popover-primary.top .arrow:after {
  border-top-color: black;
}
body .popover.popover-primary.right .arrow {
  border-right-color: black;
}
body .popover.popover-primary.right .arrow:after {
  border-right-color: black;
}
body .popover.popover-primary.bottom .arrow {
  border-bottom-color: black;
}
body .popover.popover-primary.bottom .arrow:after {
  border-bottom-color: black;
}
body .popover.popover-primary.left .arrow {
  border-left-color: black;
}
body .popover.popover-primary.left .arrow:after {
  border-left-color: black;
}
body .popover.popover-secondary {
  background-color: #005228;
  border-color: #005228;
}
body .popover.popover-secondary .popover-title {
  background-color: #005228;
  border-color: #005228;
}
body .popover.popover-secondary.top .arrow {
  border-top-color: #005228;
}
body .popover.popover-secondary.top .arrow:after {
  border-top-color: #005228;
}
body .popover.popover-secondary.right .arrow {
  border-right-color: #005228;
}
body .popover.popover-secondary.right .arrow:after {
  border-right-color: #005228;
}
body .popover.popover-secondary.bottom .arrow {
  border-bottom-color: #005228;
}
body .popover.popover-secondary.bottom .arrow:after {
  border-bottom-color: #005228;
}
body .popover.popover-secondary.left .arrow {
  border-left-color: #005228;
}
body .popover.popover-secondary.left .arrow:after {
  border-left-color: #005228;
}
body .tooltip.tooltip-primary .tooltip-inner {
  background-color: black;
  color: #ddefe3;
}
body .tooltip.tooltip-primary.top .tooltip-arrow {
  border-top-color: black;
}
body .tooltip.tooltip-primary.top-left .tooltip-arrow {
  border-top-color: black;
}
body .tooltip.tooltip-primary.top-right .tooltip-arrow {
  border-top-color: black;
}
body .tooltip.tooltip-primary.right .tooltip-arrow {
  border-right-color: black;
}
body .tooltip.tooltip-primary.left .tooltip-arrow {
  border-left-color: black;
}
body .tooltip.tooltip-primary.bottom .tooltip-arrow {
  border-bottom-color: black;
}
body .tooltip.tooltip-primary.bottom-left .tooltip-arrow {
  border-bottom-color: black;
}
body .tooltip.tooltip-primary.bottom-right .tooltip-arrow {
  border-bottom-color: black;
}
body .tooltip.tooltip-secondary .tooltip-inner {
  background-color: #005228;
  color: #ddefe3;
}
body .tooltip.tooltip-secondary.top .tooltip-arrow {
  border-top-color: #005228;
}
body .tooltip.tooltip-secondary.top-left .tooltip-arrow {
  border-top-color: #005228;
}
body .tooltip.tooltip-secondary.top-right .tooltip-arrow {
  border-top-color: #005228;
}
body .tooltip.tooltip-secondary.right .tooltip-arrow {
  border-right-color: #005228;
}
body .tooltip.tooltip-secondary.left .tooltip-arrow {
  border-left-color: #005228;
}
body .tooltip.tooltip-secondary.bottom .tooltip-arrow {
  border-bottom-color: #005228;
}
body .tooltip.tooltip-secondary.bottom-left .tooltip-arrow {
  border-bottom-color: #005228;
}
body .tooltip.tooltip-secondary.bottom-right .tooltip-arrow {
  border-bottom-color: #005228;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input::-webkit-input-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input::-webkit-input-placeholder {
  color: #ddefe3;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input:-moz-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input:-moz-placeholder {
  color: #ddefe3;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input::-moz-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input::-moz-placeholder {
  color: #ddefe3;
}
body .horizontal-menu header.navbar .navbar-inner > ul > li#search .search-input:-ms-input-placeholder,
body .horizontal-menu header.navbar > ul > li#search .search-input:-ms-input-placeholder {
  color: #ddefe3;
}



/*Extra Css Overwrite*/
body, p {
  font-size: 14px;
}
.page-container .sidebar-menu .sidebar-user-info .user-link img {
  border: 4px solid rgba(255, 255, 255, 0.5);
}
.page-container .sidebar-menu #main-menu li.has-sub > a::before {
  font-size: 16px;
}
/*footer.main {
  position: absolute;
  width: 96%;
  bottom: 10px;
}*/
.top-row {
  margin-left: -20px !important;
  margin-top: -20px !important;
  margin-right: -20px !important;
  padding: 10px 5px 0 5px;
  background: #87C442;
  border-bottom: 1px solid black;;
  display: none;
}

.error {
    color: red;
}